@use "@picocss/pico/scss/pico";
body {
	height: 100vh;
	overflow: hidden;
	padding: 0;
	padding-block: 0;
}
body > main {
	padding: 0;
	padding-block: 0;
}
.page {
	height: 100vh;
	overflow: auto;
	display: grid;
	gap: var(--pico-spacing);
	grid-template-areas:
		"t t"
		"p p"
		"f f";
	grid-template-rows: max-content 20rem auto;
	#title {
		padding-top: var(--pico-spacing);
		padding-left: var(--pico-spacing);
		padding-right: var(--pico-spacing);
		grid-area: t;
		align-self: center;
		display: grid;
		grid-template-columns: 4fr 1fr;
		.title {
			margin: 0;
			text-align: center;
			font-weight: 400;
		}
		.tools {
			display: grid;
			grid-template-columns: auto auto;
			gap: calc(var(--pico-spacing) / 1.5);
			align-items: center;
			justify-content: end;
		}
	}
	#preview {
		grid-area: p;
		padding: var(--pico-spacing);
		text-align: center;
		> svg {
			height: 100%;
			width: 100%;
		}
		@media screen and (min-width: 900px) {
			border: var(--pico-border-width) solid var(--pico-form-element-border-color);
			border-radius: var(--pico-border-radius);
		}
	}
	#form {
		grid-area: f;
		padding-left: var(--pico-spacing);
		padding-right: var(--pico-spacing);
	}
	@media screen and (min-width: 900px) {
		grid-template-areas:
			"t t"
			"f p";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content max-content;
		padding: var(--pico-spacing);
		#title, #form {
			padding: 0;
		}
		#preview {
			display: grid;
			align-items: center;
		}
	}
}
/* width */
::-webkit-scrollbar {
	width: .3rem;
	height: .3rem;
}
/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
}
::-webkit-scrollbar-track {
	background: #cccccc;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
