name: publish

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'reason'
        required: false
        default: 'manual run'
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js v22.x
      uses: actions/setup-node@v6
      with:
        node-version: 22.x
        registry-url: 'https://registry.npmjs.org'
        cache: 'yarn'
    - name: setup
      uses: actions/configure-pages
    - run: corepack enable
    - run: yarn install
    - run: yarn build
    - name: upload github pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: "pages"
      cancel-in-progress: true
    environment:
      name: github-pages
      url: https://github.com/micene09/team-raptus-logo
    steps:
      - name: deploy
        id: deployment
        uses: actions/deploy-pages@v4
